<div id="homepage">
    <section id="top">
	<header>
	    <div class="row">
		<div class="columns">
		    <%= image_tag 'logo_white_50.png', id: 'logo', class: 'left show-for-medium-up' %>
		    <%= image_tag 'logo_icon_50.png', id: 'logo', class: 'left show-for-small-only' %>
		    <%= link_to "Log in", login_path, class: "button secondary right radius" %>
		</div>
	    </div>
	</header>
	<div class="row">
	    <div class="columns">
		<h2 class="tagline main-tagline text-center">The latest news from your trusted sources.</h2>
		<h4 class="tagline sub-tagline text-center">Sourcerer lets you decide what matters most to you.</h4>
	    </div>
	</div>
	<div class="row">
	    <div class="medium-6 medium-centered columns">
		<%= link_to "Sign up", signup_path, class: "button expand radius" %>
		<p id="price-info" class="text-center">Free for 7 days. $20/year after that.</p>
	    </div>
	</div>
    </section>

    <section class="main-features">
	<!-- <p class="home-heading">Main Features</p> -->
	<div class="row first-row">
	    <div class="medium-6 columns">
		<%= icon 'newspaper-o' %>
		<p>Get updated on your favorite websites, blogs, comics and more. Subscribe to anything with an RSS feed.</p>
	    </div>
	    <div class="medium-6 columns">
		<%= icon 'magic' %>
		<p>Hear from all your sources, no matter their quantity. You won't see the same high-volume feeds again and again.</p>
	    </div>
	</div>
	<div class="row last-row">
	    <div class="medium-6 columns">
		<%= icon 'star' %>
		<p>Star any must-read sources you have. When updated, these will be shown before everything else.</p>
	    </div>
	    <div class="medium-6 columns">
		<%= icon 'desktop' %>
		<%= icon 'tablet' %>
		<%= icon 'mobile' %>
		<p>Read on the go. Sourcerer works fine on all your devices. There is no app to install, just visit the website.</p>
	    </div>
	</div>
    </section>

    <section class="screenshots">
	<!-- <p class="home-heading">Screenshots</p> -->
    </section>

    <footer>
	<div class="row">
	    <div class="columns">
		<p class="text-center">Created by Thiago Rodrigues. You can reach me via <%= link_to 'Twitter', '//twitter.com/thiago__rs', target: '_blank' %> or <%= mail_to 'trsantos1@gmail.com', 'email' %>. The actual application looks better than this page, I think.</p>
	    </div>
	</div>
    </footer>
</div>
