<div id="homepage">
    <section id="top">
	<header>
	    <div class="row">
		<div class="columns">
		    <%= image_tag 'logo_white.png', id: 'logo', class: 'float-left' %>
		    <%= link_to "Log in", login_path, id: 'login-button', class: "button hollow float-right radius" %>
		</div>
	    </div>
	</header>
	<div class="row">
	    <div class="columns">
		<h1 class="tagline text-center">The sources most important to you, first.</h1>
	    </div>
	</div>
	<div class="row">
	    <div class="medium-5 medium-centered large-4 columns">
		<%= link_to "Sign up", signup_path, class: "button large expanded radius" %>
		<p id="price-info" class="text-center">Free for 14 days. $15/year after that.</p>
	    </div>
	</div>
    </section>

    <section id="screenshot">
	<div class="row">
	    <div class="columns">
		<%= image_tag 'ss-large.png', class: "show-for-large float-center" %>
		<%= image_tag 'ss-medium.png', class: "show-for-medium-only float-center" %>
		<%= image_tag 'ss-small.png', class: "show-for-small-only float-center" %>
	    </div>
	</div>
    </section>

    <section class="main-features">
	<div class="row small-up-1 medium-up-2">
	    <div class="column">
		<%= icon 'newspaper-o' %>
		<p>Follow your favorite websites, blogs, comics and more. Subscribe to anything with an RSS feed.</p>
	    </div>
	    <div class="column">
		<%= icon 'magic' %>
		<p>Get news from all your sources, no exceptions. High volume feeds will not appear too often.</p>
	    </div>
	    <div class="column">
		<%= icon 'star' %>
		<p>Star your must-read sources. These will be shown before anything else, whenever updated.</p>
	    </div>
	    <div class="column">
		<%= icon 'desktop' %>
		<%= icon 'tablet' %>
		<%= icon 'mobile' %>
		<p>Read on the go. Sourcerer works on all your devices. No app to install, just visit the website.</p>
	    </div>
	</div>
    </section>

    <footer>
	<div class="row text-center">
	    <div class="column">
		<p>Sourcerer is a Free and Open Source Software created by Thiago Rodrigues.</p>
		<%= mail_to 'trsantos1@gmail.com', icon('envelope-o', 'Email', style: 'margin-right: 1px'), target: '_blank', style: 'margin-right: 15px' %>
		<%= link_to icon('github', 'GitHub'), 'https://github.com/trsantos/sourcerer', target: '_blank' %>
	    </div>
	</div>
    </footer>
</div>
