<aside class="show-for-large">
    <div class="large-3 columns">
	<section id="info">
	    <p class="section-heading">Feed info</p>
	    <% if @feed.logo %>
		<div id="feed-logo">
		    <%= image_tag @feed.logo, id: 'logo-img' %>
		</div>
	    <% end %>
	    <% if @feed.description %>
		<p id="aside-description"><%= strip_tags @feed.description %></p>
	    <% else %>
		<p id="aside-title"><%= sub_title @feed %></p>
	    <% end %>
	    <div id="resources">
		<strong>
		    <%= link_to "Website", sub_url(@feed), target: "_blank" %><br/>
		    <%= link_to "Raw feed", @feed.feed_url, target: "_blank" %>
		</strong>
	    </div>
	</section>
	<% if Time.current > current_user.expiration_date - 2.weeks %>
	    <section id="billing">
		<div class="aside-sep"></div>
		<p class="section-heading">Important</p>
		<div id="aside-sub">
		    <p>Your subscription is about to end.</p>
		    <strong><%= link_to 'Renew it now', billing_expired_path %></strong>
		</div>
	    </section>
	<% end %>
    </div>
</aside>
