<% if logged_in? %>
    <% if current_user.following?(@feed) %>
	<% sub = current_user.subscriptions.find_by(feed_id: @feed.id) %>
	<% if sub.starred %>
	    <li><%= link_to "Unstar",
		            subscription_path(sub, subscription: { starred: false }),
			    method: :patch,
		            class: "button control" %></li>
	<% else %>
	    <li><%= link_to "Star",
		            subscription_path(sub, subscription: { starred: true }),
			    method: :patch,
		            class: "button control" %></li>
	<% end %>
	<li><%= link_to "Edit", edit_subscription_path(sub), class: "button control" %></li>
	<li><%= link_to "Unsubscribe", subscription_path(sub), method: :delete, class: "button control" %></li>
    <% else %>
	<li><%= link_to "Subscribe", subscriptions_path(feed_id: @feed.id), method: :post, class: "button control" %></li>
    <% end %>
    <li id="next">
	<%= link_to content_tag(:strong, "Next feed"), next_path, class: "button" %>
    </li>
<% end %>
