<% if logged_in? %>
    <% if current_user.following?(@feed) %>
	<% sub = current_user.subscriptions.find_by(feed_id: @feed.id) %>
	<% if sub.starred %>
	    <li><%= link_to "Unstar",
		            subscription_path(sub, subscription: { starred: false }),
			    method: :patch %></li>
	<% else %>
	    <li><%= link_to "Star",
		            subscription_path(sub, subscription: { starred: true }),
			    method: :patch %></li>
	<% end %>
	<li><%= link_to "Edit", edit_subscription_path(sub) %></li>
	<li><%= link_to "Unfollow", subscription_path(sub), method: :delete %></li>
    <% else %>
	<li><%= link_to "Follow", subscriptions_path(feed_id: @feed.id), method: :post %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to "Next feed", next_path %></li>
<% end %>
