<div id="feed-header">
    <nav class="top-bar" data-topbar>
	<% unless @feed.fetching %>
	    <ul class="title-area">
		<li class="name">
		    <h1>
			<a href="<%= sub_url(@feed) %>" id="feed-title" target="_blank">
			    <img id="favicon" src="<%= favicon_for(sub_url(@feed)) %>"/>
			    <%= sub_title(@feed) %>
			</a>
		    </h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	    </ul>
	<% end %>
	<section class="top-bar-section">
	    <ul class="right">
		<%= render 'controls' %>
		<li class="has-dropdown show-for-small-only">
		    <%= link_to current_user.name.split.first, '#' %>
		    <ul class="dropdown">
			<li class="divider show-for-small-only"></li>
			<li><%= link_to "Subscriptions", subscriptions_path %></li>
			<li class="divider show-for-small-only"></li>
			<li><%= link_to "Topics", current_user %></li>
			<li class="divider show-for-small-only"></li>
			<li><%= link_to "Account", edit_user_path(current_user) %></li>
			<li class="divider show-for-small-only"></li>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		    </ul>
		</li>
	    </ul>
	</section>
    </nav>
</div>
<script>
 var favicon = document.getElementById("favicon");
 favicon.onerror = function() {
     favicon.setAttribute("src", "<%= google_favicon @feed %>");
     favicon.onerror = null;
 }
</script>
