<div id="feed-header">
    <nav class="top-bar" data-topbar>
	<ul class="title-area">
	    <li class="name">
		<h1>
		    <a href="<%= sub_url(@feed) %>" id="feed-title" target="_blank">
			<img id="favicon" src="<%= favicon_for(sub_url(@feed)) %>"/>
			<%= sub_title(@feed) %>
		    </a>
		</h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	</ul>
	<%= render 'controls' %>
    </nav>
</div>
<script>
var img = document.getElementById("favicon");
img.onerror = function() {
	// img.setAttribute("src", "<%= asset_path('feed-icon-16x16.png') %>");
	img.setAttribute("src", "http://www.google.com/s2/favicons?domain=<%= @feed.site_url %>");
}
</script>
