<div class="feed-header sticky">
    <nav class="top-bar" data-topbar>
	<ul class="title-area">
	    <li class="name">
		<h1>
		    <a href="<%= sub_url(@feed) %>" id="feed-title" target="_blank">
			<img id="favicon-img" src="<%= favicon_for(sub_url(@feed)) %>"/>
			<%= sub_title(@feed) %>
		    </a>
		</h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	</ul>
	<section class="top-bar-section">
	    <ul class="right controls">
		<%= render 'controls' %>
	    </ul>
	</section>
    </nav>
</div>
<script>
img = document.getElementById("favicon-img");
img.onerror = function() {
	img.setAttribute("src", "<%= asset_path('feed-icon-16x16.png') %>");
}
</script>
