<% provide(:title, sanitize(@feed.title)) %>

<header class="feed-header">
    <div class="sticky contain-to-grid">
	<nav class="top-bar" data-topbar data-no-turbolink>
	    <ul class="title-area">
		<li class="name">
		    <h1>
			<img src="http://www.google.com/s2/favicons?domain=<%= sub_url(@feed) %>" class="favicon" />
			<%= link_to sub_title(@feed), sub_url(@feed), class: "feed-title", target: "_blank" %>
		    </h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	    </ul>
	    <section class="top-bar-section">
		<ul class="right">
		    <%= render 'controls' %>
		</ul>
	    </section>
	</nav>
    </div>
</header>

<div class="row entries">
    <div class="small-10 small-offset-1 collums">
	<% if @feed.entries.any? %>
	    <%= render @entries %>
	<% else %>
	    <p>This <%= link_to "feed", @feed.feed_url %> could not be fetched or has no items.</p>
	<% end %>
	<small>Feed: <%= @feed.feed_url %></small>
    </div>
</div>
