<% provide(:title, sanitize(@feed.title)) %>

<div id="fs-top-sep"></div>

<div id="feeds-show-container" class="row">
    <aside>
	<div class="large-3 columns show-for-large-up">
	    <p class="section-heading">Feed info</p>
	    <% if @feed.logo %>
		<div id="feed-logo">
		    <img id="logo-img" src="<%= @feed.logo %>"/>
		</div>
	    <% end %>
	    <% if @feed.description %>
		<p id="aside-description"><%= sanitize @feed.description %></p>
	    <% end %>
	    <% unless @feed.logo or @feed.description %>
		<p id="aside-title"><%= sub_title @feed %></p>
	    <% end %>
	    <div id="resources">
		<strong>
		    <%= link_to "Website", sub_url(@feed), target: "_blank" %><br/>
		    <%= link_to "Raw feed", @feed.feed_url, target: "_blank" %>
		</strong>
	    </div>
	    <% if Time.current > current_user.expiration_date - 1.week %>
		<div class="aside-sep"></div>
		<p class="section-heading">Important</p>
		<div id="aside-sub">
		    <p>Your subscription is about to end.</p>
		    <strong><%= link_to 'Renew it now', billing_expired_path %></strong>
		</div>
	    <% end %>
	</div>
    </aside>
    <div class="box medium-10 medium-centered large-9 large-uncentered columns">
	<% if @feed.entries.any? %>
	    <p id="whats-new" class="show-for-large-up section-heading">What's new</p>
	    <%= render @entries %>
	<% else %>
	    <p>This feed has no items or has not been fetched yet.</p>
	<% end %>
    </div>
</div>

<div id="fs-bottom-sep"></div>

<%= link_to "Next feed", next_path, class: "show-for-small-only button expand", id: "next" %>

<script>
var logo = document.getElementById("logo-img");
if (logo) {
	logo.onerror = function() {
		logo.style.display = "none";
	};
	logo.onload = function() {
		if (logo.height < 5) {
			logo.style.display = "none";
		}
	}
}
//navigator.registerContentHandler("application/vnd.mozilla.maybe.feed", "<%= "#{request.protocol}#{request.host_with_port}" %>/feeds/new?feed=%s", "Sourcerer");
</script>
