<% provide(:title, 'Reset password') %>

<div class="logo-wrap">
    <%= link_to image_tag('logo_white.png'), root_url %>
</div>

<div class="row simple-container">
    <div class="small-11 medium-5 small-centered columns box auth-box">
	<header>
	    <h3>Reset password</h3>
	</header>

	<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
	    <%= render 'shared/error_messages' %>

	    <%= hidden_field_tag :email, @user.email %>

	    <%= f.label :password %>
	    <%= f.password_field :password %>
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>

	    <%= f.submit "Update password", class: "button radius expanded", data: { disable_with: "Please wait..." } %>
	<% end %>
    </div>
</div>
