<% provide(:title, "Forgot password") %>

<div class="logo-wrap">
    <%= link_to image_tag('logo_dark.png'), root_url %>
</div>

<div class="row simple-container">
    <div class="medium-5 medium-centered columns box">
	<header>
	    <h3>Forgot password</h3>
	</header>

	<%= form_for(:password_reset, url: password_resets_path) do |f| %>
	    <%= f.label :email %>
	    <%= f.email_field :email %>

	    <%= f.submit "Submit", class: "button radius expand", data: { disable_with: "Please wait..." } %>
	<% end %>
    </div>
</div>
