<article>
    <header>
	<h5 class="<%= "old" if old? entry %>">
	    <strong>
		<%= link_to sanitize(entry.title), entry.url, class: "entry-title", target: "_blank" %>
	    </strong>
	</h5>
	<p class="timestamp">
	    <%= time_ago_in_words(entry.pub_date).capitalize %> ago
	</p>
    </header>
    <div class="row">
	<% if @only_images %>
	    <div class="small-12 columns big-thumb-container">
		<a href="<%= entry.url %>" target="_blank" style="color: #222">
		    <%= image_tag entry.image %>
		</a>
	    </div>
	<% else %>
	    <% if entry.image %>
		<div class="small-12 columns">
		    <div class="small-thumb-container">
			<a href="<%= entry.url %>" target="_blank" style="color: #222">
			    <%= image_tag entry.image %>
			</a>
		    </div>
		    <div class="description-with-thumb-container">
			<p class="description">
			    <%= entry.description %>
			</p>
		    </div>
		</div>
	    <% elsif !entry.description.blank? %>
		<div class="small-12 columns">
		    <p class="description">
			<%= entry.description %>
		    </p>
		</div>
	    <% end %>
	<% end %>
    </div>
</article>
