<% id = entry.id.to_s %>
<article>
    <header>
	<h5 class="<%= 'old' if old? entry %>">
	    <strong>
		<%= link_to sanitize(entry.title), entry.url, class: 'entry-title', target: '_blank' %>
	    </strong>
	</h5>
    </header>
    <div class="row">
	<div class="small-12 columns">
	    <% if entry.image %>
		<div class="thumb <%= 'small-thumb' unless @feed.has_only_images %>">
		    <a href="<%= entry.url %>" target="_blank">
			<%= image_tag entry.image, id: "img#{id}" %>
		    </a>
		</div>
	    <% end %>
	    <% if entry.description %>
		<p class="description">
		    <%= strip_tags entry.description %>
		</p>
	    <% end %>
	</div>
    </div>
    <p class="timestamp">
	<%= time_ago_in_words(entry.pub_date).capitalize %> ago
    </p>
    <script>
     var img<%= id %> = document.getElementById("img<%= id %>");
     if (img<%= id %>) {
	 img<%= id %>.onerror = function() {
	     img<%= id %>.parentElement.parentElement.style.display = "none";
	 };
	 img<%= id %>.onload = function() {
	     if (img<%= id %>.width < 100) {
		 img<%= id %>.parentElement.parentElement.style.display = "none";
	     }
	 };
     }
    </script>
</article>
