<article>
	<header class="entry-title">
		<h6>
			<%= link_to sanitize(entry.title), entry.url, target: "_blank" %>
		</h6>
    </header>
    <div class="row">
		<% if @only_images %>
			<div class="small-12 columns">
				<%= image_tag entry.image, class: "big-thumb" %>
			</div>
		<% else %>
			<% if entry.image %>
				<div class="medium-2 columns crop">
					<%= image_tag entry.image, class: "small-thumb" %>
				</div>
				<div class="medium-10 columns desc-with-img">
					<p class="description">
						<%= sanitize entry.description %>
					</p>
				</div>
			<% else %>
				<div class="small-12 columns">
					<p class="description">
						<%= sanitize entry.description %>
					</p>
				</div>
			<% end %>
		<% end %>
	</div>
    <footer>
		<small>Posted <%= time_ago_in_words(entry.pub_date) %> ago.</small>
    </footer>
</article>
