<% provide(:title, "Edit user") %>
<header>
    <h2>Update your profile</h2>
</header>

<div class="row">
    <div class="medium-8 medium-offset-2">
		<%= form_for(@user) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Save changes", class: "button expand" %>
		<% end %>
		<p data-no-turbolink>
			<%= link_to "Export your data", opml_export_path %><br>
			<%= link_to "Delete your account", current_user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
		</p>
    </div>
</div>
