<% provide(:title, 'Sign up') %>
<div class="row" style="display:none">
    <div class="medium-3 small-centered columns">
	<%= image_tag 'logo_dark.png', id: 'logo-img-support' %>
    </div>
</div>

<div class="row simple-container">
    <div class="medium-6 large-5 medium-centered columns box">
	<header>
	    <h3>Welcome to Sourcerer</h3>
	</header>

	<%= form_for(@user) do |f| %>
	    <%= render 'fields', f: f %>
	    <%= f.submit "Sign up", class: "button radius expand" %>
	<% end %>

	<p class="text-center">Already use Sourcerer? <%= link_to 'Log in', login_path %></p>
    </div>
</div>
