<% provide(:title, 'Sign up') %>

<div class="logo-wrap">
    <%= link_to image_tag('logo_dark_50.png'), root_url %>
</div>

<div class="row simple-container">
    <div class="medium-6 large-5 medium-centered columns box">
	<header>
	    <h3>Create your account</h3>
	</header>

	<%= form_for(@user) do |f| %>
	    <%= render 'fields', f: f %>
	    <%= f.submit "Sign up", class: "button radius expand" %>
	<% end %>

	<p class="text-center">Already use Sourcerer? <%= link_to 'Log in', login_path %></p>
    </div>
</div>
