<% provide(:title, @user.name) %>

<h2>Hello, <%= @user.name.split.first %></h2>

<p>Please, select the topics you want to follow:</p>

<%= form_for :topic, url: update_topics_user_path, method: "patch" do |f| %>
    <% Topic.all.order(:name).each do |t| %>
		<%= f.check_box t.name, { checked: @user.following_topic?(t) } %>
		<%= f.label t.name, t.name %>
		<br/>
    <% end %>
    <%= f.submit "Save topics", class: "button" %>
<% end %>

<p><em>Note that you can also <%= link_to "import an OPML file", new_opml_path %>.</em></p>
