<% provide(:title, @user.name) %>

<div class="row simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>Topics</h3>
	</header>

	<p>Tell me what you like:</p>

	<%= form_for :topic, url: update_topics_user_path, method: "patch" do |f| %>
	    <% Topic.all.order(:name).each do |t| %>
		<div class="medium-6 columns">
		    <%= f.check_box t.name, { checked: @user.following_topic?(t) } %>
		    <%= f.label t.name, t.name %>
		</div>
	    <% end %>
	    <%= f.submit "Save Topics", class: "button radius expanded", id: "topics-button", data: { disable_with: "Please wait..." } %>
	<% end %>

	<p><%= icon 'feed' %><em> You can also <%= link_to "import an OPML file", new_opml_path %>.</em></p>
    </div>
</div>
