<% provide(:title, "Edit subscription") %>

<div class="row simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>Feed settings</h3>
	</header>

	<%= form_for(@subscription) do |f| %>
	    <%= f.label :title %>
	    <%= f.text_field :title, value: @subscription.title || @subscription.feed.title, placeholder: @subscription.feed.title %>

	    <%= f.label :site_url %>
	    <%= f.text_field :site_url, value: @subscription.site_url || @subscription.feed.site_url, placeholder: @subscription.feed.site_url %>

	    <%= f.submit "Save changes", class: "button radius expanded", data: { disable_with: "Please wait..." } %>
	<% end %>
    </div>
</div>
