<div class="row payment-container simple-container">
    <div class="small-11 medium-7 small-centered columns box">
	<header>
	    <h3>We're almost done!</h3>
	</header>

	<p>Review your payment information before approving it. You will be charged only after this confirmation step.</p>

	<strong>Price:</strong> <%= @total %> <%= @currency %><br/>
	<strong>New subscription end date: </strong><%= new_expiration_date %><br/>
	<br/>

	<%= form_for @payment, url: payment_path(params.permit(:paymentId, :token, :PayerID)) do |f| %>
	    <%= f.submit 'Confirm payment', class: "button radius expanded", data: { disable_with: "Please wait..." } %>
	<% end %>
    </div>
</div>
