<div class="top-bar fixed">
    <div class="row <%= 'hide-for-small-only' if in_feeds_show %>">
	<div class="top-bar-title">
	    <span class="float-right" data-responsive-toggle="responsive-menu-1" data-hide-for="medium">
		<span class="menu-icon" data-toggle></span>
	    </span>
	    <%= link_to image_tag('logo_nav.png'), next_path, id: 'logo' %>
	</div>
	<div id="responsive-menu-1">
	    <div class="top-bar-right">
		<ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
		    <li class="show-for-small-only"><%= link_to "Back to reading", next_path %></li>
		    <li><%= link_to "New feed", new_feed_path %></li>
		    <li><%= link_to "Subscriptions", subscriptions_path %></li>
		    <li>
			<%= link_to current_user.name.split.first, '#' %>
			<ul class="vertical menu">
			    <li><%= link_to "Setup", current_user %></li>
			    <li><%= link_to "Feedback", feedback_path %></li>
			    <li><%= link_to "Account", edit_user_path(current_user) %></li>
			    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
			</ul>
		    </li>
		</ul>
	    </div>
	</div>
    </div>
    <% if in_feeds_show %>
	<div id="feed-header">
	    <div class="row">
		<div class="top-bar-title">
		    <span class="float-right" data-responsive-toggle="responsive-menu-2" data-hide-for="medium">
			<span class="menu-icon" data-toggle></span>
		    </span>
		    <% unless @feed.fetching %>
			<a href="<%= sub_url(@feed) %>" id="feed-title" target="_blank">
			    <img id="favicon" src="<%= favicon_for(sub_url(@feed)) %>"/>
			    <%= sub_title(@feed) %>
			</a>
		    <% end %>
		</div>
		<div id="responsive-menu-2">
		    <div class="top-bar-right">
			<%= render 'feeds/controls' %>
		    </div>
		</div>
	    </div>
	</div>
    <% end %>
</div>

<div id="main-nav-padding"></div>

<% if in_feeds_show %>
    <div id="feed-nav-padding" class="show-for-medium"></div>

    <script>
     var favicon = document.getElementById("favicon");
     favicon.onerror = function() {
	 favicon.setAttribute("src", "<%= image_path 'feed-icon.png' %>");
     }
    </script>
<% end %>
