<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'vendor/modernizr' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
    </head>
    <body>
	<header id="combined-header" class="contain-to-grid fixed">
	    <%= render 'layouts/nav' %>
	    <%= render 'feeds/header' if in_feeds_show %>
	</header>
	<main id="<%= "main-fs" if in_feeds_show %>">
	    <% flash.each do |message_type, message| %>
	        <%= content_tag(:div,
				message,
				class: "alert-box #{message_type}") %>
	    <% end %>

	    <div class="row" id="main-content">
		<div class="small-12 columns <%= "medium-7 medium-centered box-no-fs" unless in_feeds_show %>">
		    <%= yield %>
		</div>
	    </div>
	</main>
    </body>
</html>
